[Desktop Entry]
Name=Minerva
Name[af]=Minerva
Name[ar]=كريتا
Name[bg]=Minerva
Name[br]=Minerva
Name[bs]=Minerva
Name[ca]=Minerva
Name[ca@valencia]=Minerva
Name[cs]=Minerva
Name[cy]=Minerva
Name[da]=Minerva
Name[de]=Minerva
Name[el]=Minerva
Name[en_GB]=Minerva
Name[eo]=Minerva
Name[es]=Minerva
Name[et]=Minerva
Name[eu]=Minerva
Name[fi]=Minerva
Name[fr]=Minerva
Name[fy]=Minerva
Name[ga]=Minerva
Name[gl]=Minerva
Name[he]=Minerva
Name[hi]=क्रिता
Name[hne]=केरिता
Name[hr]=Minerva
Name[hu]=Minerva
Name[ia]=Minerva
Name[id]=Minerva
Name[is]=Minerva
Name[it]=Minerva
Name[ja]=Minerva
Name[ka]=Minerva
Name[kk]=Minerva
Name[ko]=Minerva
Name[lt]=Minerva
Name[lv]=Minerva
Name[mr]=क्रिटा
Name[ms]=Minerva
Name[nds]=Minerva
Name[ne]=क्रिता
Name[nl]=Minerva
Name[nn]=Minerva
Name[pl]=Minerva
Name[pt]=Minerva
Name[pt_BR]=Minerva
Name[ro]=Minerva
Name[ru]=Minerva
Name[se]=Minerva
Name[sk]=Minerva
Name[sl]=Minerva
Name[sv]=Minerva
Name[ta]=கிரிட்டா
Name[tg]=Minerva
Name[tr]=Minerva
Name[ug]=Minerva
Name[uk]=Minerva
Name[uz]=Minerva
Name[uz@cyrillic]=Minerva
Name[wa]=Minerva
Name[xh]=Minerva
Name[zh_CN]=Minerva
Name[zh_TW]=Minerva
Exec=krita %F
MimeType=image/gif;
Type=Application
Icon=krita
Categories=Qt;KDE;Office;Graphics;
StartupNotify=true
NoDisplay=true
X-KDE-AliasFor=org.kde.minerva2d.desktop
