<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name="org.minerva2d.android.MainActivity"
            tools:replace="android:label"
            android:label="Minerva Debug" />
    </application>

</manifest>
