[Desktop Entry]
Type=Service
ServiceTypes=Minerva/PythonPlugin
X-KDE-Library=minerva2d_script_starter
X-Minerva-Manual=Manual.html
Name=Minerva Script Starter
Name[ar]=بادئ سكربتات كريتا
Name[bg]=Minerva Script Starter
Name[ca]=Iniciador de scripts del Minerva
Name[ca@valencia]=Iniciador de scripts de Minerva
Name[cs]=Spouštěč skriptů Minerva
Name[de]=Minerva-Skriptstarter
Name[el]=Εκκινητής σεναρίου Minerva
Name[en_GB]=Minerva Script Starter
Name[eo]=Minerva Script Starter
Name[es]=Iniciador de guiones de Minerva
Name[et]=Minerva skriptialustaja
Name[eu]=Minervaren gidoi abiarazlea
Name[fi]=Minervan skriptikäynnistin
Name[fr]=Lanceur de scripts Minerva
Name[gl]=Iniciador de guións de Minerva
Name[he]=מתחיל סקריפטים של Minerva
Name[hi]=क्रिता स्क्रिप्ट प्रारंभक
Name[hu]=Minerva-szkriptindító
Name[is]=Minerva skrifturæsing
Name[it]=Iniziatore di script per Minerva
Name[ja]=Minerva スクリプトスターター
Name[ka]=Minerva -ის სკრიპტის გამშვები
Name[ko]=Minerva 스크립트 시작 도구
Name[nl]=Script-starter van Minerva
Name[nn]=Minerva skriptbyggjar
Name[pl]=Starter skryptów Krity
Name[pt]=Inicialização do Programa do Minerva
Name[pt_BR]=Inicializador de script do Minerva
Name[ru]=Создание сценариев Minerva
Name[sk]=Startér skriptov Minerva
Name[sl]=Zaganjalnik Minerva skriptov
Name[sv]=Minerva skriptstart
Name[tr]=Minerva Betik Başlatıcısı
Name[ug]=Minerva قوليازما قوزغاتقۇچ
Name[uk]=Створення скрипту Minerva
Name[zh_CN]=Minerva 空脚本生成工具
Name[zh_TW]=Minerva 指令稿起步助手
Comment=Create the metadata and file structure for a new Minerva script
Comment[ar]=أنشئ البيانات الوصفية وهيكل الملف لسكربت كريتا جديد
Comment[ca]=Crea les metadades i l'estructura de fitxers d'un script nou del Minerva
Comment[ca@valencia]=Crea les metadades i l'estructura de fitxers d'un script nou de Minerva
Comment[cs]=Vytvoří metadata a souborovou strukturu pro nový skript Krity
Comment[de]=Erstellt Metadaten und Dateistruktur für ein neues Minerva-Skript
Comment[el]=Δημιουργία μεταδεδομένων και δομής αρχείου για ένα νέο σενάριο του Minerva
Comment[en_GB]=Create the metadata and file structure for a new Minerva script
Comment[eo]=Krei la metadatumojn kaj dosierstrukturon por nova Minerva skripto
Comment[es]=Crear los metadatos y la estructura de archivos para un nuevo guion de Minerva
Comment[et]=Uue Minerva skripti metaandmete ja failistruktuuri loomine
Comment[eu]=Minervaren gidoi berri baterako metadatuak eta fitxategi-egitura sortu
Comment[fi]=Luo uudelle Minerva-skriptille metatieto- ja tiedostorakenne
Comment[fr]=Créer les métadonnées et la structure du fichier pour le nouveau script Minerva
Comment[gl]=Crear os metadatos e a estrutura de ficheiros para un novo guión de Minerva.
Comment[he]=יצירת נתוני על ומבנה קבצים לסקריפט חדש של Minerva
Comment[hi]=एक नए क्रिता स्क्रिप्ट के लिए मेटाडेटा और फ़ाइल संरचना बनाएँ
Comment[hu]=Új Minerva-szkript metaadatainak és fájlszerkezetének létrehozása
Comment[it]=Crea i metadati e la struttura dei file per un nuovo script di Minerva
Comment[ja]=新しい Minerva スクリプトのメタデータとファイル構造を作成する
Comment[ka]=შექმენით მეტამონაცემები და ფაილის სტრუქტურა Minerva-ის ახალი სკრიპტისთვის
Comment[ko]=새 Minerva 스크립트에 대한 메타데이터 및 파일 구조 생성
Comment[nl]=Maak de metagegevens en bestandsstructuur voor een nieuw Minerva-script
Comment[nn]=Generer metadata og filstruktur for nye Minerva-skript
Comment[pl]=Utwórz metadane i strukturę plików dla nowego skryptu Krity
Comment[pt]=Cria os meta-dados e a estrutura de ficheiros para um novo programa do Minerva
Comment[pt_BR]=Cria os metadados e a estrutura de arquivos para um novo script do Minerva
Comment[ru]=Создание структуры метаданных и файлов для нового сценария Minerva
Comment[sk]=Create the metadata and file structure for a new Minerva script
Comment[sl]=Ustvari metapodatke in strukturo datoteke za nov Minerva skript
Comment[sv]=Skapa metadata och filstruktur för ett nytt Minerva-skript
Comment[tr]=Yeni Minerva betiği için üst veri ve dosya yapısı oluştur
Comment[ug]=يېڭى Minerva قوليازمىغا تەپسىلىي سانلىق مەلۇمات ۋە ھۆججەت قۇرۇلمىسى قۇرىدۇ
Comment[uk]=Створення метаданих і структури файлів для нового скрипту Minerva
Comment[zh_CN]=为新的 Minerva 脚本创建元数据及文件结构
Comment[zh_TW]=為新的 Minerva 指令稿建立中繼資料和檔案建構體
